<div class="container">
  <h3>Send a Message</h3>
  <ul>
  <% @messages.each do |message| %>

  <div class="row">
      <div class="col s8 offset-s4 m5">
        <div class="card-panel blue lighten-3">
          <span class="white-text">
            <%= message.body %>
          </span>
        </div>
      </div>
    </div>
  </ul>
  <% end %>

  <%= render :partial => 'form' %>

</div>
