<div class="container">
  <h3>Send a Message</h3>
  <ul>
  <% @messages.each do |message| %>

  <div class="row">
      <div class="col s8 offset-s4 m5">
        <div class="card-panel blue lighten-3">
          <span class="white-text">
            <%= message.body %>
          </span>
        </div>
      </div>
    </div>
  </ul>
  <% end %>

  <%= render :partial => 'form' %>

  <div class="row">
      <h5 class="col s12">Like this host? Create an itinerary and tell them what you'd like to to do!</h5>
  </div>
  <div class="row">
    <div class="col s12">
      <%= link_to "Create Itinerary", new_itinerary_path, class: "waves-effect waves-light btn" %>
    </div>
  </div>

</div>
