<div class="container">
  <h3>Send a Message</h3>
  <ul>
  <% @messages.each do |message| %>

    <div class="row">
    <% if current_user.id == message.user_id %>
      <div class="col s8 offset-s4 m5">
        <div class="card-panel green lighten-3">
          <span class="white-text">
            <%= message.body %>
          </span>
        </div>
      </div>
      <% else %>
        <% message.update(read: true) %>
      <div class="col s8 m5">
        <div class="card-panel blue lighten-1">
          <span class="white-text">
            <%= message.body %>
          </span>
        </div>
      </div>
    <% end %>
    </div>
  </ul>
  <% end %>

  <%= render :partial => 'form' %>

  <div class="row">
    <h5 class="col s12">Like this host?</h5>
    <h5 class="col s12">Add activities to your itinerary!</h5>
  </div>
  <div class="row">
    <div class="col s12">
      <%= link_to "My Itinerary", @conversation.itinerary, class: "waves-effect waves-light btn" %>
    </div>
  </div>

</div>
