<div class="container">
  <ul>
  <% @messages.each do |message| %>
  <!-- why is @user here? -->
  <% @user = message.user %>
  <!-- make message sides alternate -->
  <div class="row">
    <div class="col s12">
      <p class="message"><%= message.body %></p>
    </div>
  </div>
  </ul>
  <% end %>

  <%= render :partial => 'messages/form', :locals => {:conversation => @conversation} %>

</div>
