<div class="row">
	<div class="col s12">
	<%= form_tag sessions_path do %>
		<!-- Email and Password -->
		<div class="row">
			<div class="input-field col s12">
				 <input id="email" type="email" class="validate" name="email">
				 <label for="email">Email</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input id="password" type="password" class="validate" name="password">
				<label for="password">Password</label>
			</div>
		</div>
	<div><%= submit_tag "Login", :class => "waves-effect waves-light btn" %></div>
	<% end %>
	</div>
</div>
