<div class="container mailbox">
  <h3>Your Conversations</h3>

  <div class="conversations">
    <ul>
    <% @conversations.each do |conversation| %>
    <li><%= link_to conversation.recipient.first_name, conversation_messages_path(conversation.id)  %> - <%= conversation.recipient.city %> </li>
    </ul>
    <% end %>
  </div>

</div>
