<div class="container mailbox">
  <h3>Your Conversations</h3>

  <div class="conversations">
    <ul>
    <% @messages.each do |message| %>
    <li><%= link_to message.conversation.recipient.first_name, conversation_messages_path(message.conversation.id)  %> - <%= message.conversation.recipient.city %> </li>
    </ul>
    <% end %>
  </div>

</div>
