<div class="container">
  <h3>Your Conversation With USERNAME</h3>
  <ul>
    <% @conversation.messages.each do |message|%>
      <div class="row">
          <div class="col s12"><h3 class="section-header"><%= message.body %></h3></div>
      </div>
    </ul>
  <% end %>

  <%= render :partial => 'messages/form', :locals => {:conversation => @conversation} %>

</div>
