<a class="waves-effect waves-light btn-small modal-trigger" href="#modal2">Select Your Interests</a>
  <!-- Modal Structure -->
  <div id="modal2" class="modal modal-fixed-footer"">
    <div class="modal-content">
      <!-- User Interests -->
      		<% @interests.all.each do |interest| %>
              <div class="row left-align">
        				<% id = interest.id%>
        				<input id="<%=id%>" name="user[all_interests][]" value="<%=interest.name%>" type="checkbox">
        				<label for="<%=id%>"><%= interest.name%></label>
              </div>
      			<% end %>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Back to Form</a>
    </div>
  </div>
