<div class="edit-user-form container col s12">
	<h4>Edit profile</h4>
  <%= render '/errors' %>
	<%= form_for @user, :html => { :method => :put} do |f| %>
		<%= render partial: 'form', locals: {interests: @interests} %>
			<%= f.submit "Save Changes", :class => "form-button waves-effect waves-light btn user-button" %>
		<% end %>
</div>
