<div class="container">
	<div class="row">
		<div class="col s12">
		<% if !@users.empty? %>
		<% @users.each do |user| %>
			<ul>
				<li>
				  <div class="col s12 m8 offset-m2 l6 offset-l3">
		        <div class="card-panel grey lighten-5 z-depth-1">
		          <div class="row valign-wrapper">
		            <div class="col s2">
		              <%= image_tag "user-image-with-black-background_318-34564.png", alt: "user-profile-img", class: "circle responsive-img" %>
		            </div>
		            <div class="col s10">
		              <span class="black-text">
		                <%= link_to user.first_name, user_path(user)  %> - <%= user.city %>
		              </span>
		            </div>
		          </div>
		        </div>
		      </div>
				</li>
			</ul>
		<% end %>
		<% else %>
			<h4>Your search for "<%= params[:search] %>" returned no hosts</h4>
		<% end %>
		</div>
	</div>
</div>
