<div class="container">
	<%= render '/errors' %>
	<%= form_for @user, url: users_path do |f| %>
		<%= render 'form' %>
		<%= f.submit "Submit", :class => "waves-effect waves-light btn" %>
	<% end %>
</div>
