<div class="container">
	<%= form_for @user, url: users_path do |f| %>
	<div class="errors"> <%= render '/errors' %> </div>
		<%= render partial: 'form', locals: {interests: @interests} %>
		<%= f.submit "Submit", :class => "waves-effect waves-light btn" %>
	<% end %>
</div>
