<div class="container">
	<h4>Sign up to find your host!</h4>
	<%= form_for @user, url: users_path do |f| %>
	<div class="errors"> <%= render '/errors' %> </div>
		<%= render partial: 'form', locals: {interests: @interests} %>
		<%= render partial: '/submit_button', locals: {interests: @interests} %>
	<% end %>
</div>
