<div class="contnainer">
	<div class="row center">
		<div class="col s12">
			<h1 class = "category-title enlarge-text"> What city are you traveling to? </h1>
				<%= render 'search_field' %>
		</div>
	</div>
</div>
