<div class="container">
      <div class="row">
      <div class="col s12"><h2>Welcome to Global Host</h2></div>
    </div>
    <div class="row">
      <div class="col s12"><h4>Find friends in far places</h4></div>
    </div>
    <div class="row">
      <div class="col s12">
        <%= render '/sessions/form' %>
      </div>
    </div>

  <hr class=user-page-hr>

  <br>
    <div class="row">
      <div class="col s12">
        <div class="category-title enlarge-text">
          Not a user?
        </div>
      <span class="enlarge-text"><%= link_to("Register", new_user_path)%></span>
    </div>
  </div>

</div>
