<div class="welcome-container">
      <div class="row">
      <div class="col s12"><h2>Welcome to Global Host</h2></div>
    </div>
    <div class="row">
      <div class="col s12"><h4>Friends in far places</h4></div>
    </div>
    <div class="row">
      <div class="col s12">
        <%= render '/sessions/form' %>
      </div>
    </div>


    <div class="row">
      <div class="col s12">
        <%= link_to("Register", new_user_path, class:"waves-effect waves-light btn")%>
      </div>
  </div>

  <!-- search bar here??? -->

</div>
