<div class="container">

  <div class="row">
    <p class="col s12"><span class="category-title"><%= @review.title %> | score: <%= @review.score %>/5</span></p>
    <% author = User.find(@review.reviewer_id) %>
    <p class="col s12"><span class="category-title">Reviewed by: <%= link_to "#{@user.first_name } #{@user.last_name}", user_path(@user.id) %></span></p>
    <p class="col s12"><%= @review.body %></p>
  </div>

</div>
