<div class="under-nav-bar">

<%= render '/movies/movieinfo' %>
<div class="review-header">
  <h2>Review</h2>
</div>

<div class="indiv-review-box">

  <div class="review-body">
    <%= @review.body %>
  </div>
  <div class="review-author">
    Written By: <%= @review.reviewer.name %>
  </div>

  <div class="review-score">
    Score: <%= @review.score%>/10
  </div>

</div>
